.single-icon a, a:hover, body {
    color: #000
}

.grid-layout .list-title, h1.single-title {
    text-transform: capitalize
}

h1.single-title, h1.singlepage-title {
    font-size: 1.75rem
}

.list-categories li, a, nav.greedy button {
    text-decoration: none
}

h1.item-title, h3.item-title, nav.greedy button {
    background-color: #fff;
    box-shadow: inset 0 -4px 0 rgba(0, 0, 0, .095), 0 2px 4px rgba(0, 0, 0, .025), 0 2px 4px rgba(0, 0, 0, .04) !important
}

.list-categories li, h1.item-title, h3.item-title, nav.greedy button {
    box-shadow: inset 0 -4px 0 rgba(0, 0, 0, .095), 0 2px 4px rgba(0, 0, 0, .025), 0 2px 4px rgba(0, 0, 0, .04) !important
}

.grid-layout .list-title, .sikik_selo_liste a {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}

body {
    margin: 0;
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    background: url(/imgs/bbburst.svg) rgb(0 136 69);
    background-blend-mode: luminosity
}

*, ::after, ::before {
    box-sizing: border-box
}

a {
    color: #fff;
    background-color: transparent
}

.text-white, a.nav-link {
    color: #fff !important
}

.grid-layout {
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(120px, 1fr));
    grid-gap: 15px;
    grid-auto-rows: minmax(120px, auto);
    grid-auto-flow: dense
}

.grid-item:hover {
    transition: 125ms !important;
    transform: scale(1.1);
    z-index: 50
}

.grid-item:hover .list-title {
    bottom: -6px;
    transition: .15s
}

.grid-item {
    border-radius: 10px;
    transition: .5s !important;
    background: #fff;
    box-shadow: 4px 4px 0 0 #000;
    padding: 7px
}

.span-2 {
    grid-column-end: span 2;
    grid-row-end: span 2
}

.span-3 {
    grid-column-end: span 3;
    grid-row-end: span 3
}

.site-container, img {
    max-width: 100%
}

.top-nav {
    font-weight: 700;
    padding: 0
}

.text-uppercase {
    text-transform: uppercase !important
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030
}

.navbar-expand-lg {
    flex-flow: row nowrap;
    justify-content: flex-start
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin-top: 10px
}

.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap
}

a.nav-link {
    padding: 2px 10px !important;
    border-radius: 100px !important
}

li.nav-item:hover {
    background-color: #000;
    border-radius: 10px
}

.sidebar, article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block
}

.copyright {
    color: #fff;
    font-size: 13px;
    font-weight: 400
}

.text-center {
    text-align: center !important
}

.footer {
    padding: 1rem;
    background-color: rgb(255 255 255);
    text-align: left !important;
    color: #000;
    width: calc(100% - 40px);
    margin: 0 auto
}

img.small-thumb {
    width: 100%;
    border-radius: 0;
    transition: .5s
}

.list-content {
    padding: 0
}

.list-game {
    border-radius: 10px;
    position: relative;
    overflow: hidden
}

.grid-layout .list-title {
    color: #000;
    background: #fff;
    text-align: center;
    position: absolute;
    bottom: -50px;
    transition: 525ms;
    padding: 0 13px;
    font-size: 15px;
    opacity: 0;
    font-family: poppins;
    width: 103px;
    transform: translate(-50%, -50%);
    box-shadow: 0 1px 2px #000;
    font-weight: 700;
    left: 50%;
    border-radius: 6px
}

.item-grid:hover .list-title {
    opacity: 1
}

.item-grid:hover img {
    opacity: 1;
    transition: .2s
}

.grid-wrapper, .pagination-wrapper {
    margin-bottom: 30px
}

.game-container {
    margin: 30px 0
}

.page-title, .single-title {
    margin-top: 20px;
    font-weight: 700
}

.container {
    max-width: 1200px !important
}

.list-category {
    position: absolute;
    bottom: 5px
}

.single-title {
    padding-bottom: 10px;
    color: #fff
}

.single-info-container {
    padding-bottom: 5px;
    border-bottom: 1px solid #fff;
    margin-bottom: 20px
}

.single-icon, .social-share {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 10px
}

.single-icon {
    background-color: #ffcc20;
    padding: 8px 16px;
    border-radius: 15px;
    color: #000
}

.social-share {
    position: relative;
    top: -2px
}

.social-icon {
    width: 38px;
    height: 38px
}

.sidebar .list-tile {
    padding-left: 3px;
    padding-right: 3px
}

.sidebar .list-game {
    margin-bottom: 8px;
    background: #222
}

.singlepage-title {
    padding-bottom: 10px;
    font-weight: 700
}

.game-content, .page-content {
    color: #fff
}

.site-logo {
    background: var(--red);
    font-size: 22px !important;
    text-shadow: 1px 1px 6px rgb(17 17 17 / 56%);
    height: 40px;
    line-height: 40px;
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 0 10px !important;
    margin: 0 5px;
    border-radius: 10px
}

.header-left, .header-right {
    display: inline-block
}

.game-iframe, .kap {
    left: 0;
    width: 100%;
    height: 100%
}

.nav-categories {
    white-space: nowrap;
    margin-top: 30px
}

h1.item-title, h3.item-title {
    font-weight: 600;
    font-size: 20px;
    margin: 20px 0;
    display: inline-block;
    color: #000;
    padding: 0 15px;
    border-radius: 5px;
    font-family: Poppins;
    line-height: 40px;
    height: 40px
}

.list-categories li, nav.greedy button, ul.hidden-links a {
    color: #000;
    font-family: poppins;
    font-size: 16px;
    font-weight: 500
}

.item-title i, .single-icon i, h4 i {
    margin-right: 9px
}

ul.list-categories {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden
}

.sidebar .widget, h4.widget-title {
    margin-bottom: 20px
}

.list-categories li {
    float: left;
    display: block;
    text-align: center;
    padding: 2px 9px;
    background: #fff;
    border-radius: 100px
}

.dropdown-menu, ul.hidden-links {
    right: 0;
    list-style: none;
    box-shadow: 0 4px 12px 0 rgba(43, 43, 43, .1)
}

.list-categories li:hover {
    background-color: #ffed33;
    color: #000;
    border-radius: 40px
}

nav.greedy {
    position: relative;
    display: flex;
    align-items: center
}

nav.greedy button:hover {
    background-color: #ffed33
}

nav.greedy button {
    padding: 2px 23px;
    border: none;
    outline: 0 !important;
    border-radius: 100px
}

nav.greedy button.hidden {
    transition: none;
    border-right: .5rem solid #b6b6b6;
    width: 0;
    padding: 0;
    overflow: hidden;
    display: none
}

nav.greedy button::after {
    content: attr(count);
    display: inline-flex;
    width: 25px;
    height: 25px;
    align-items: center;
    justify-content: center;
    background: #000;
    color: #f2f2f2;
    border-radius: 50%;
    font-size: 15px;
    line-height: 14px;
    margin-left: 1rem;
    margin-right: calc(-1rem + -4px)
}

ul.links {
    display: flex;
    flex: 1;
    overflow: hidden;
    grid-gap: 5px
}

ul.links li {
    flex: none
}

ul.hidden-links {
    position: absolute;
    background: padding-box #fff;
    overflow: hidden;
    top: 100%;
    padding: 0;
    z-index: 1;
    text-align: left;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 20px
}

ul.hidden-links.hidden {
    display: none
}

ul.hidden-links li {
    padding: 10px 15px;
    min-width: 220px;
    font-weight: 500 !important
}

ul.hidden-links li:hover {
    background-color: #ffed33;
    text-decoration: none !important;
    font-size: 16px !important;
    font-weight: 500 !important
}

.cat-list {
    margin-top: 20px
}

.cat-link {
    padding: 8px 16px;
    background-color: #29254f;
    margin-right: 10px;
    border-radius: 15px
}

h4.widget-title {
    font-weight: 700;
    padding-bottom: 10px;
    border-bottom: 1px solid #29254f;
    font-size: 1.3rem;
    color: #fff
}

.sidebar .row {
    margin-right: 0;
    margin-left: 0
}

.bottom-container {
    margin: 0
}

.banner-ads {
    text-align: center;
    margin: 15px 0
}

.blog-list, .content-wrapper {
    margin-top: 30px
}

.page-link {
    color: #cbdbe3;
    background-color: rgba(66, 60, 121, .7);
    border: 1px solid #656097
}

.page-link:hover {
    color: #cbdbe3;
    background-color: #8589bf;
    border-color: #656097
}

.page-item.disabled .page-link {
    color: #9a95c4;
    background-color: #544f86 !important;
    border-color: #8985aa
}

.game-iframe-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    background: #212529;
    border-radius: 10px
}

.game-iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0
}

.nav-item {
    margin: 0 5px
}

.search-bar {
    margin-left: 10px;
    position: relative
}

@media (max-width: 992px) {
    #navb {
        margin: 15px 0
    }

    .nav-item {
        margin: 0 10px
    }

    li.nav-item:hover {
        background-color: #29254f;
        border-radius: 0
    }

    .nav-link {
        padding-left: 15px !important
    }
}

@media (max-width: 1440px) {
    .site-container {
        padding: 0
    }
}

input.search {
    background-color: #fff;
    font-size: 15px;
    border-radius: 5px !important;
    font-weight: 600;
    color: #111;
    box-shadow: none !important;
    outline: 0 !important;
    border: none !important
}

.btn-search {
    color: #000 !important;
    outline: 0 !important;
    margin-left: -35px;
    z-index: 11 !important;
    position: absolute
}

.stats-vote {
    text-align: right;
    margin-top: 20px
}

.stats-vote i {
    font-size: 30px;
    padding: 6px
}

.stats-vote i:hover {
    color: #1abc9c;
    cursor: pointer
}

.header-right {
    float: right;
    margin-left: 30px
}

.vote-status {
    font-size: 18px;
    font-weight: 700
}

.post-item {
    margin-bottom: 3rem !important
}

.post-media {
    display: flex;
    align-items: flex-start
}

.post-thumb {
    display: flex;
    margin-right: 1rem
}

.post-thumb img {
    max-width: none
}

.post-title {
    margin-bottom: .25rem;
    font-weight: 700;
    font-size: 1.5rem
}

.post-meta .date {
    color: #8f8f8f;
    font-size: .8125rem
}

.post-meta {
    color: #8f8f8f
}

@media (max-width: 576px) {
    .blog-list .post-thumb {
        display: none
    }
}

.dropdown-menu {
    position: absolute;
    background: padding-box #fff;
    top: 100%;
    z-index: 2;
    text-align: left;
    font-weight: 400;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
    padding-left: 0;
    margin-top: 10px
}

.skip_play, .skip_screen img {
    border-radius: 10px;
    margin: 0 auto
}

.dropdown-icon {
    margin-left: 10px
}

.nav-item {
    position: relative
}

.kap, .skip_screen {
    position: absolute
}

.nav-item-child {
    padding: 5px 1rem;
    color: #2c3e50;
    margin-bottom: 2px
}

.nav-link-child {
    color: #2c3e50;
    font-size: 14px;
    font-weight: 600
}

.nav-item-child:hover {
    background-color: #ffe437
}

.kap {
    top: 0;
    background: rgb(51 51 51);
    z-index: 10000
}

.skip_screen {
    z-index: 10001;
    margin: 0 auto;
    left: 50%;
    display: grid;
    top: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    text-align: center;
    gap: 15px;
    justify-content: center !important
}

.skip_play:hover {
    cursor: pointer;
    background: #38ab1c
}

.skip_play {
    background: #a1ff69;
    width: 100px;
    padding: 1px 5px;
    font-size: 26px;
    font-weight: 700;
    color: #2d2d2d
}

.oc-selo-kat {
    background: #fff;
    padding: 20px;
    border-radius: 6px;
    box-shadow: inset 0 -4px 0 rgba(0, 0, 0, .095), 0 2px 4px rgba(0, 0, 0, .025), 0 2px 4px rgba(0, 0, 0, .04) !important
}

.search-container {
    position: relative;
    width: 300px;
    float: right;
    margin-top: 5px;
    margin-right: 0
}

.sikik_selo_liste:hover {
    background: #77ff82;
    cursor: pointer
}

.sikik_selo_liste a {
    width: 150px;
    font-size: 16px;
    font-weight: 700;
    color: #111;
    text-decoration: none !important
}

.sikik_selo_liste {
    margin-bottom: 0;
    display: grid;
    grid-auto-flow: column;
    background: #fff;
    justify-content: left;
    padding: 10px;
    grid-gap: 5px;
    border-radius: 5px;
    align-items: center
}

.search-results {
    position: absolute;
    top: 45px;
    background: #fff;
    z-index: 15000;
    border-radius: 10px;
    border: 5px solid #111
}